/*Colors
======================================*/
//Colors
$color-primary: #6366F1FF;
$color-secondary: #F3F6FFFF;

$color-grey: #7A7B7AFF;
$color-grey-light: #DEE2E6FF;
$color-grey-dark: #2F363E;
$color-white: #ffffff;
$color-black: #000000;
$color-green: rgb(0, 168, 87);
$color-yellow: rgb(221, 225, 11);
$color-blue: #5759E4FF;
$color-blue-light: #1DA1F2FF;
$color-blue-dark: rgb(64, 66, 142);
$color-pink: #EA4C89FF;

$color-danger: #f4251e;

$color-text-base: $color-blue-dark;

$font-family: 'Open Sans', sans-serif;

$width-mobile: 320px;
$width-tablet: 768px;
$width-desktop: 1200px;

