/*Colors
======================================*/
//Colors
$color-primary: #6366F1FF;
$color-secondary: #F3F6FFFF;

$color-grey: #7A7B7AFF;
$color-grey-light: #DEE2E6FF;
$color-grey-dark: #2F363E;
$color-white: #ffffff;
$color-black: #000000;
$color-green: rgb(0, 168, 87);
$color-yellow: rgb(221, 225, 11);
$color-blue: rgba(15, 82, 237, 0.893);
$color-blue-light: rgba(57, 111, 236, 0.893);
$color-blue-dark: rgba(10, 49, 138, 0.893);
$color-pink: #EA4C89FF;
$color-shadow: rgba(0, 0, 0, 0.1);

$color-danger: #f4251e;

$color-text-base: $color-blue-dark;

$font-family: 'Open Sans', sans-serif;

$width-mobile: 320px;
$width-tablet: 768px;
$width-large: 992px;
$width-desktop: 1200px;

$box-shadow-sm: 0 5px 5px rgba(0,0,0, .2);
$box-shadow-md: 0 10px 10px rgba(0,0,0, .2);
$box-shadow-lg: 0 15px 15px rgba(0,0,0, .2);
