.address {
    padding: 50px 0;

    .address-title {
        font-weight: 600;
    }

    .address-list {
        @include no-list-style;
        padding-left: 50px;
        color: $color-grey;

    }

    .address-item {
        position: relative;
        padding: 10px 0;
    }

    .address-item:before {
        position: absolute;
        content: "";
        width: 20px;
        height: 20px;
        top: 50%;
        left: -30px;
        transform: translate(-50%, -50%);
        background-size: cover;
    }

    .address-item--location:before {
        background-image: url("/img/location-pin-svgrepo-com.svg");
    }

    .address-item--tel:before {
        background-image: url("/img/call-phone-ui-2-svgrepo-com.svg");
    }

    .address-item--time::before {
        background-image: url("/img/clock-svgrepo-com.svg");
    }

    .address-item--mail::before {
        background-image: url("/img/message-svgrepo-com.svg");

    }

    .btn {
        padding: 15px;
        margin: 20px 0;
        font-size: 16px;
        box-shadow: 0 0.5rem 1.125rem -0.5rem rgba(99,102,241,.9)
    }

    .btn:hover {
        background-color: $color-blue;
        color: $color-white;
        box-shadow: none;
    }

    &-mapp {
        margin-bottom: 50px;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: 0px 3px 10px 0px $color-grey;
    }
}

@media (min-width: $width-tablet) {
    .address {
        .address-title {
            font-size: 2.3rem;
        }
    }
}

@media (min-width: $width-desktop) {
    .address {
        .address-title {
            font-size: 3rem;
        }
    }
}