.categories{
    border: 1px solid $color-grey-light;
    border-radius: 10px;
    
    &__title{
        font: 600;
    }
    &__list{
        @include no-list-style;
    }
    &__item a{
        color: $color-black;
        text-decoration: none;
    }
    &__item a:hover{
        color: $color-blue;
    }
    &__item a span{
        color: $color-grey;
    }
}