// component c-breadcrumb
.c-breadcrumb {
    .home {
        margin-left: 40px;
        color: #6c6c6d;

    }

    .icon {
        width: 20px;
        height: 17px;
        margin-bottom: 5px;
        fill: #6c6c6d;
    }

    .home:hover {
        color: $color-black;

        .icon {
            fill: $color-black;

        }
    }

}

// component c-card-person 
.c-card-person {
    .card {
        align-items: center;
        min-width: '50px';
    }

    .card-star img {
        height: 20px;
        margin: 0 5px;
    }

    .card-stars {
        display: flex;
    }

    .card-body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-title {
        font-weight: 600;
    }

    .card-text {
        color: $color-grey;
    }

    .card-socials img {
        height: 15px;
    }

    .card-socials {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $color-white;
        border-radius: 5px;
        margin: 0 10px;
    }

    .card-socials:hover {
        background-color: $color-secondary;
        transition: 0.5s;

        .card-icon {
            fill: white;
        }
    }

    .card-img {
        position: relative;
    }

    .card-block {
        position: absolute;
        display: none;
        height: 100%;
        width: 100%;
        top: 0;
    }

    .card-social {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #5759e43b;
        height: 100%;
        width: 100%;
    }

    .card-img:hover {
        background-color: $color-secondary;

        .card-block {
            display: block;
        }
    }

    .card-icon {
        width: 20px;
        height: 20px;
    }
}

// component c-address
.address {
    .address-title {
        font-size: 2.3rem;
        font-weight: 600;
    }

    .address-list {
        @include no-list-style;
        padding-left: 50px;

    }

    .address-item {
        position: relative;
        padding: 10px 0;
    }

    .address-item:before {
        position: absolute;
        content: "";
        width: 20px;
        height: 20px;
        top: 50%;
        left: -30px;
        transform: translate(-50%, -50%);
        background-size: cover;
    }

    .address-item--location:before {
        background-image: url("/img/location-pin-svgrepo-com.svg");
    }

    .address-item--tel:before {
        background-image: url("/img/call-phone-ui-2-svgrepo-com.svg");
    }

    .address-item--time::before {
        background-image: url("/img/clock-svgrepo-com.svg");
    }

    .address-item--mail::before {
        background-image: url("/img/message-svgrepo-com.svg");

    }

    .btn {
        padding: 15px;
        margin: 20px 0;
    }

    .btn:hover {
        background-color: $color-blue;
    }
}


//  componentc- social-icon
.c-social {
    display: flex;

    .social-item {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        background-color: #EFF2FCFF;
        border-radius: 7px;
        margin: 0 10px;
    }

    .card-icon {
        height: 20px;
    }

    .card-icon:hover {
        fill: white;

    }

    .social-item--facebook:hover {
        background-color: $color-blue-dark;
        box-shadow: 1px 3px 3px $color-blue-dark;
    }

    .social-item--instagram:hover {
        background-color: $color-primary;
        box-shadow: 1px 3px 3px $color-primary;
    }

    .social-item--twitter:hover {
        background-color: $color-blue-light;
        box-shadow: 1px 3px 3px $color-blue-light;
    }

    .social-item--linkedin:hover {
        background-color: $color-blue-dark;
        box-shadow: 1px 3px 3px $color-blue-dark;
    }

    .social-item--youtube:hover {
        background-color: $color-danger;
        box-shadow: 1px 3px 3px $color-danger;
    }
}

// component c-badges 
.c-badges {
    .badges-item {
        color: $color-white;
        font-size: 14px;
        text-decoration: none;
        text-transform: capitalize;
        background-color: blue;
        padding: 5px 10px;
        border-radius: 5px;
    }

    .badges-item--blue {
        background-color: $color-blue;
        box-shadow: 1px 2px 3px $color-blue;
    }

    .badges-item--yellow {
        background-color: $color-yellow;
        box-shadow: 1px 2px 3px $color-yellow;
    }

    .badges-item--red {
        background-color: $color-danger;
        box-shadow: 1px 2px 3px $color-danger;
    }

    .badges-item--green {
        background-color: $color-green;
        box-shadow: 1px 2px 3px $color-green;
    }
}


// component c-stats
.c-stats {
    display: flex;
    align-items: center;

    .stats-date {
        color: $color-grey;
        padding: 0 10px;
        margin-right: 10px;
        border-right: 1px solid grey;
        display: flex;
        align-items: center;
    }

    .stats-number {
        display: flex;
        align-items: center;
        color: $color-grey;
        margin: 0 10px;
    }

    .stats-btn {
        background-color: transparent;
        border: none;
        background-image: url("/img/twitter-154-svgrepo-com.svg");
        background-size: cover;
        height: 20px;
        width: 20px;
    }

    .stats-btn--like {
        background-image: url("/img/like-svgrepo-com.svg");
    }

    .stats-btn--message {
        background-image: url("/img/message-square-svgrepo-com.svg");
    }

    .stats-btn--share {
        background-image: url("/img/share-android-svgrepo-com.svg");
    }
}

// componentsc- networks
.c-networks {
    display: flex;
    justify-content: space-evenly;

    .networks-block {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-right: 1px solid $color-grey-light;
        padding: 0 60px;
    }

    .networks-block h5 {
        font-weight: 600;
        margin: 20px 0;
        text-transform: capitalize;
    }

    .networks-item {
        width: 70px;
        height: 70px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #EFF2FCFF;
        border-radius: 7px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 18px;
    }

    .card-icon {
        height: 25px;
    }

    .networks-item--facebook:hover {
        background-color: $color-blue;
        box-shadow: 1px 3px 3px $color-blue;
        fill: white;
    }

    .networks-item--instagram:hover {
        background-color: $color-blue-dark;
        box-shadow: 1px 3px 3px $color-blue-dark;
        fill: white;
    }

    .networks-item--twitter:hover {
        background-color: $color-blue-light;
        box-shadow: 1px 3px 3px $color-blue-light;
        fill: white;
    }

    .networks-item--linkedin:hover {
        background-color: $color-primary;
        box-shadow: 1px 3px 3px $color-secondary;
        fill: white;
    }

    .networks-item--youtube:hover {
        background-color: $color-danger;
        box-shadow: 1px 3px 3px $color-danger;
        fill: white;
    }

    .networks-item--dribbble:hover {
        background-color: $color-pink;
        box-shadow: 1px 3px 3px $color-pink;
        fill: white;
    }

    // }
}



// component c-consulting
.c-consulting {
    .consulting-inner {
        width: max-content;
        border: 1px solid $color-grey;
        border-radius: 10px;
        overflow: hidden;
    }

    .consulting-cell {
        position: relative;
        width: auto;
        border: 1px solid $color-grey;
        padding: 10px 20px 10px 70px;
    }

    .consulting-cell::before {
        position: absolute;
        content: "";
        width: 30px;
        height: 30px;
        transform: translateY(-50%);
        top: 50%;
        left: 25px;
        background-size: 40px;
        background-position: center;
    }

    .consulting-cell--digital::before {
        background-image: url("/img/digital.svg");
    }

    .consulting-cell--sales::before {
        background-image: url("/img/chart.svg");
    }

    .consulting-cell--services::before {
        background-image: url("/img/marketing.svg");
    }

    .consulting-cell--strategy::before {
        background-image: url("/img/cybersecurity.svg");
    }

    .consulting-cell p {
        font-size: 14px;
        margin: 0;
        font-weight: 600;
    }

    .consulting-cell span {
        font-size: 10px;
        color: $color-grey;
    }
}

// component c-my-card 
.c-my-card {
    .card {
        border: none;
    }

    .img-fluid {
        border-radius: 10px;
    }

    .card-body {
        padding-top: 0;
        align-items: start;

        .badges {
            margin-bottom: 20px;
        }
    }

    .card-body a {
        text-decoration: none;
    }

    .card-title {
        text-decoration: none;
        color: $color-black;
        font-weight: 700;
        font-size: 30px;
    }

    .img-block {
        position: relative;
    }

    .img-block::before {
        position: absolute;
        content: "";
        width: 50px;
        height: 50px;
        background-image: url("/img/bookmark-svgrepo-com.svg");
        background-color: $color-white;
        background-size: cover;
        background-position: center;
        right: 20px;
        top: 20px;
        border-radius: 25px;
        z-index: 1;
    }
}

// component c-technology
.c-technology {
    background-color: #ECEFF8FF;
    border-radius: 10px;

    .technology-block {
        position: relative;
        height: 100%;
        padding-left: 90px;
        text-decoration: none;
    }

    .technology-block::before {
        position: absolute;
        content: "";
        width: 50px;
        height: 50px;
        left: 25px;
        border-radius: 10px;
        background-color: $color-white;
        background-repeat: no-repeat;
        background-size: 30px;
        background-position: center;
        

    }

    .technology-inner {
        text-decoration: none;
        padding: 20px;
    }

    .technology-title {
        color: $color-black;
        font-weight: 600;
    }

    .technology-text {
        color: $color-grey;
        font-size: 18px;
    }

    .technology-link {
        position: relative;
    }
    .svg-icon{
        fill: #6366f1;
        width: 20px;
        height: 20px;
    }



}

.c-technology:hover {
    box-shadow: 0px 6px 11px 0px grey;
}

// component c-info
.c-info {
    .info-item {
        padding: 20px;
        text-align: center;
    }

    .card {
        width: 100%;

        // transition: transform .2s ease-in-out,border-color .2s ease-in-out,background-color .2s ease-in-out,box-shadow .2s ease-in-out;
        .card-inner {
            text-decoration: none;
            color: $color-black;
        }

        .card-inner p {
            padding: 10px 0;
        }

        .icon {
            width: 140px;
        }

        .card-link {
            position: relative;
        }

        .svg-icon {
            fill: $color-primary;
            width: 20px;
            height: 20px;
        }

        .card-text--call {
            position: relative;
        }

        .card-text--call::before {
            position: absolute;
            content: "";
            width: 30px;
            height: 30px;
            background-image: url("/img/call-phone-ui-2-svgrepo-com.svg");
            // background-color: red;
            background-size: cover;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            fill: red;
            color: red;
        }
    }

    .card:hover {
        box-shadow: 0px 3px 11px 0px $color-blue;
    }

}

// component c-reviews
.c-reviews {
    background-color: #F3F6FFFF;

    .reviews-title {
        text-align: center;
        padding: 50px;
        font-weight: 700;
    }

    .card {
        margin: 50px 10px 0px 10px;
        margin-top: 50px;
        position: relative;

        .card-body {
            padding-top: 40px;
        }

        .card-text {
            font-size: 1.3rem;
            text-align: start;
            color: $color-grey;
        }

        .card-stars img {
            height: 15px;
        }
    }

    .card::after {
        position: absolute;
        content: "";
        width: 40px;
        height: 40px;
        background-color: $color-secondary;
        border-radius: 10px;
        top: -20px;
        left: 20px;
        overflow: hidden;
        background-image: url("/img/quotes-svgrepo-com.svg");
        background-size: 20px;
        background-position: center;
        background-repeat: no-repeat;
    }

    &__inner {
        display: flex;
        align-items: center;
        padding: 30px;
        margin-left: 10px;
    }

    &__inner img {
        height: 50px;
        border-radius: 10px;
    }

    &__text {
        text-align: start;
        font-size: 0.8rem;
        padding-left: 10px;

        span {
            color: $color-grey;
        }
    }
}

@media (min-width: $width-tablet) {}

@media (min-width: $width-desktop) {}