.footer {
    // background-color: $color-primary;
   


    .footer-title {
        position: relative;
        margin: 20px 0;
        font-weight: 600;
        padding-left: 50px;
    }

    .footer-title:before {
        position: absolute;
        content: "";
        width: 40px;
        height: 40px;
        // background-color: chartreuse;
        background-image: url("https://12andrian85.github.io/medical-landing/public/icons/logo.svg");
        background-size: cover;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 20px;
    }
    .footer-text{
        font-size: 16px;
    }

    .footer-svg {
        background-color: transparent;
    }

    .footer-btn {
        color: $color-white;
        background-color: $color-primary;
    }

    // .footer-btn:hover {
    //     background-color: $color-blue;
    // }

    .col-mail h6 {
        font-weight: 600;
        margin: 10px 0;
    }

    .footer__acordion {
        @include no-list-style;

    }

    .dropdown-menu {
        @include no-list-style;
        // background-color: red;
    }

    .accordion-item {
        background-color: transparent;
        border: 0;
    }
    .accordion-email:hover{
        text-decoration: none;
    }

    .accordion-button {
        background-color: transparent;
        border: 0;
        padding-left: 0;
        justify-content: start;
    }

    .accordion-button:after {
        margin-left: 10px;
    }

    .accordion-body a {
        text-decoration: none;
        color: $color-black;
    }

    .color-white {
        color: $color-white !important;
    }
    .color-white:hover{
        color: $color-primary !important;
    }

    .accordion-body a:hover {
        color: $color-blue;
    }

    &__bg-black {
        background-color: #0B0F19FF;
    }
}
.footer__bg-gardien{
    background: rgb(2,2,4);background: rgb(2,2,4);
    background: linear-gradient(135deg, rgba(2,2,4,1) 15%, rgba(2,2,4,1) 25%, rgba(2,2,4,1) 27%, rgba(2,2,4,1) 40%, rgba(2,2,4,1) 47%, rgba(13,16,38,1) 63%, rgba(2,2,4,1) 74%, rgba(0,0,0,1) 78%);
}

@media (min-width: $width-tablet) {
    .footer {
        .accordion-body {
            padding: 10px 0 10px 50px;
        }

        .section {
            padding-left: 100px;
        }
    }
}

@media (min-width: $width-desktop ) {
    .footer {
        &__acordion {
            display: none;
        }

        .col-mail {
            padding-left: 100px;
        }


    }
}