.news {
    &__title {
        text-align: center;
        font-weight: 600;
        margin: 50px 0;
    }
    .card-wrapper{
        text-decoration: none;
    }
    .card {
        margin: 10px;
        position: relative;
        text-decoration: none;
        box-shadow: 0px 3px 10px 7px $color-grey-light;

        .card-inner {
            display: flex;
            justify-content: space-between;
            span{
                color: $color-grey;
            }
        }
        .card-title{
            font-weight: 700;
            padding: 30px 0;
        }
        .card-title a{
            text-decoration: none;
            color: $color-black
        }
        .card-title a:hover{
            color: $color-blue;
        }
        .card-review{
            display: flex;
            padding: 20px;
            margin-top: 20px;
            border-top: 1px solid $color-grey-light;
            .card-img{
                height: 55px;
                width: 55px;
                border-radius: 10px;
            }
            .card-text{
                text-align: start;
                padding-left: 20px;
                h5{
                    font-weight: 600;
                }
            }
        }
    }

    .card::after {
        position: absolute;
        content: "";
        width: 40px;
        height: 40px;
        background-color: $color-white;
        border-radius: 20px;
        top: 20px;
        right: 20px;
        overflow: hidden;
        background-image: url("/img/bookmark-svgrepo-com.svg");
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
    }
}