.pricing {

    .title {
        height: 500px;
    }

    .accordion button::after {
        background-color: #F3F6FFFF;
        padding: 16px;
        background-position: center;
        border-radius: 29px;
    }

    .accordion button:focus::after {
        background-color: $color-primary;
        color: white;

    }

    .splide-shadow:hover {
        bottom: 5px;
        transition: 0.3s;
        box-shadow: 0px 3px 7px -1px $color-grey;
    }

    .input-forms {
       width: auto;
    }

    .input-forms::before {
        position: absolute;
        content: "";
        width: 20px;
        height: 20px;
        background-image: url("/img/pricing/envelope-closed-svgrepo-com.svg");
        background-size: cover;
        top: 38%;
        left: 15px;
    }



    .accordion-button:not(.collapsed) {
        color: black;
        background-color: white;
    }

    .btn-accordion:hover {
        background-color: $color-primary;
        color: $color-white;
        border: 1px solid $color-primary;

    }

}


.c-breadcrumb {

    .home:hover {
        color: $color-white;

        .icon {
            fill: $color-white;
        }
    }
}

.nav-link {
    color: white;
}

.nav-link:active {
    color: $color-white;
}


@media (min-width: $width-tablet) {}

@media (min-width: $width-desktop) {
    .pricing {
        .title {
            height: 550px;
        }

    }
}