.services {

    .icon {
        width: 17px;
        height: 16px;
    }

    .icon {
        stroke: $color-primary;
    }

    .btn{
        // margin-right: 20px;
    }

    img{
        object-fit: cover;
    }

    .btn:hover {
        background-color: $color-blue;
        color: $color-white;
        box-shadow: none;
        border-color: $color-primary;

        .icon {
            stroke: $color-white;
            fill: $color-white;
        }
    }

    .icon-check {
        width: 30px;
        height: 22px;
    }

    .category {

        .splide__track--nav>.splide__list>.splide__slide.is-active {
            border: none;
        }

        .btn {
            font-weight: bold;
            background-color: $color-secondary;
            border: none;
            margin: 10px;
        }

        .btn svg {
            height: 20px;
            width: 20px;
            margin-right: 5px;
            fill: $color-grey;
            stroke: $color-grey;
        }


        .btn:hover {
            background-color: $color-secondary;
            color: $color-primary;

            svg {
                fill: $color-primary;
                stroke: $color-primary;
            }
        }

        .btn:active {
            background-color: $color-primary;
            color: $color-white;

            svg {
                fill: $color-grey-light;
                stroke: $color-grey-light;
            }
        }

        .card {
            margin: 0;
            padding: 50px 10px 30px 10px;

        }

        .card-title {
            font-size: 2rem;
        }
    }

    .splide__slide .is-next .is-visible {
        width: auto;
        height: auto;
    }

    .splide__slide--main {
        overflow: hidden;
        height: 400px;
    }

    .splide__slide--main img {
        width: 100%;

    }

    form {
        .btn-form {
            box-shadow: 01px 3px 8px 6px rgba(35, 65, 174, 0.2);
        }

        .btn-form:hover {
            background-color: $color-blue;
            box-shadow: none;
        }
    }

}

@media (min-width: $width-tablet) {
    .services {

        .category {
            .tab {
                &__content {
                    display: none;
                }

                &__content--active {
                    display: block;
                }
            }

            .img-svg {
                width: 20px;
            }

            .btn::before {
                left: 5px;
            }

        }
    }
}