.sidebar {
    .sidebar-head {
        align-items: center;
        padding: 20px 0;
    }

    .sidebar-title {
        font-weight: 700;
    }

    .sidebar-burger {
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .sidebar-icon svg {
        height: 30px;
        width: 30px;
        margin-right: 10px;
    }

    .card-link {
        text-decoration: none;
    }

    .card-link h3:hover {
        color: $color-primary;
    }

    .card-link h3 {
        text-decoration: none;
        color: black;
        font-weight: 700;
        margin: 20px 0;
    }

    .sidebar-block,
    .sidebar-img {
        position: relative;
    }

    .sidebar-block::before,
    .sidebar-img::before {
        position: absolute;
        content: "";
        width: 40px;
        height: 40px;
        background-image: url("/img/bookmark-svgrepo-com.svg");
        background-color: $color-grey-light;
        background-size: cover;
        background-position: center;
        right: 20px;
        top: 20px;
        border-radius: 25px;
    }

    .sidebar-block {
        .card-link {
            text-decoration: none;
        }

        .card-link h3:hover {
            color: $color-primary;
        }

        .card-link h3 {
            text-decoration: none;
            color: black;
            font-weight: 700;
            margin: 20px 0;
        }
    }


    .form-icon {
        width: 25px;
    }

    .badges {
        &__item {
            color: $color-white;
            font-size: 14px;
            text-decoration: none;
            text-transform: capitalize;
            // background-color: blue;
            padding: 5px 10px;
            border-radius: 5px;
        }

        .badges-item--blue {
            background-color: $color-blue;
            box-shadow: 1px 2px 3px $color-blue;
        }

        .badges-item--yellow {
            background-color: $color-yellow;
            box-shadow: 1px 2px 3px $color-yellow;
        }

        .badges-item--red {
            background-color: $color-danger;
            box-shadow: 1px 2px 3px $color-danger;
        }

        .badges-item--green {
            background-color: $color-green;
            box-shadow: 1px 2px 3px $color-green;
        }
    }

    .card {
        border: none;
    }

    .img-fluid {
        object-fit: cover;
        height: 100%;
        border-radius: 10px;
    }


    .card-link {
        text-decoration: none;
        color: black;
        font-weight: 700;
        margin: 20px 0;
    }

    .card-text {
        margin: 20px 0;
        color: $color-grey;
        font-size: 1.2rem;
        line-height: 1.5;
    }

    .stats {
        display: flex;
        font-size: 16px;

        &__date {
            color: $color-grey;
            padding: 0 10px;
            margin-right: 10px;
            border-right: 1px solid grey;
            display: flex;
            align-items: center;
        }

        &__number {
            display: flex;
            align-items: center;
            color: $color-grey;
            margin: 0 10px;
        }

        &__btn:hover {
            background-color: transparent;
            border: none;
        }

        &__btn {
            background-color: transparent;
            border: none;
            background-image: url("/img/twitter-154-svgrepo-com.svg");
            background-size: cover;
            height: 20px;
            width: 20px;
        }

        &__btn--like {
            background-image: url("/img/like-svgrepo-com.svg");
        }

        &__btn--message {
            background-image: url("/img/message-square-svgrepo-com.svg");
        }

        &__btn--share {
            background-image: url("/img/share-android-svgrepo-com.svg");
        }
    }



    &__svg {
        width: 20px;
        height: 20px;
        margin-bottom: 2px;
        fill: $color-blue;

    }

    .btn-tags:hover {
        color: $color-black;
    }

    .btn {
        color: $color-primary;
        border: 1px solid $color-grey-light;
    }

    button:hover {
        color: $color-white;
        background-color: $color-blue;
        border: 1px solid $color-grey-light;

        .sidebar__svg {
            fill: white;
        }

    }

    &__svg-message {
        width: 25px;
        left: 30px;
    }

    &__email:focus-within {
        .sidebar__svg-message {
            display: none;
        }


    }

    .sidebar-terms a:hover {
        text-decoration: none;
    }

}

@media (min-width: $width-tablet) {
    .sidebar {
        &__btn svg {
            left: 40%;
        }
    }
}

@media (min-width: $width-large) {
    .sidebar {
        .subscription__text {
            font-size: 1.6rem;
        }

        .subscription__col label {
            font-size: 18px;
        }
    }
}