.specialists {
    
    padding-top: 50px;
    
    // .card-person {
        .card__icon {
            width: 20px;
            height: 20px;
        }
        .card {
            align-items: center;
            border: none;

            &__stars {
                display: flex;
            }

            &__star img {
                height: 15px;
                margin: 0 5px;
            }

            .card-body {
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            .card-title {
                font-weight: 600;
            }

            .card-socials img {
                height: 15px;
            }

            .card-socials {
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: $color-white;
                border-radius: 5px;
                margin: 0 10px;
            }

            .card-socials:hover {
                background-color: $color-secondary;
                transition: 0.5s;

                .card__icon {
                    fill: white;
                }
            }

            .card-img {
                position: relative;
                border-radius: 10px;
                overflow: hidden;
            }

            .card-block {
                position: absolute;
                display: none;
                height: 100%;
                width: 100%;
                top: 0;
            }

            .card-social {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #5759e43b;
                height: 100%;
                width: 100%;
            }

            .card-img:hover {
                background-color: $color-secondary;

                .card-block {
                    display: block;
                }
            }
        }
    }

// }



@media (min-width: $width-tablet) {}

@media (min-width: $width-desktop) {}