.subscription {
    background-color: #F3F6FFFF;
    padding: 25px 0;

    &__title {
        text-align: center;
        font-weight: 700;
        font-size: 28px;

        .icon {
            width: 50px;
            height: 50px;
            padding-top: 10px;
            fill:$color-secondary;
        }
    }

    &__text {
        // text-align: center;
        font-size: 20px;
        font-weight: 600;
        padding: 20px;
        padding-left: 1px;
    }

    &__col {
        display: flex;
        align-items: center;
        color: $color-grey;
        padding: 10px;
    }

    &__col label {
        font-size: 0.9rem;
    }

    &__email {
        padding: 20px 0;

    }

    &__email input {
        position: relative;
        padding: 15px 0;
    }

    &__email input::before {
        position: absolute;
        content: "";
        width: 25px;
        height: 25px;
        background-size: contain;
        background-image: url(/img/message-svgrepo-com.svg);
        background-position: center;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 30px;
    }

    .row-email {
        align-items: center;
    }

}

@media (min-width: $width-tablet) {
    .subscription {
        &__title {
            text-align: start;
        }
    }
}
@media (min-width: $width-desktop) {
    .subscription {
        &__title {
            text-align: start;
            font-size: 3rem;
            padding: 40px 0;
        }
    }
}
